{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/rando.css">
{% endblock css %}

{% block content %}

<h1>Some random characters:</h1>
<h3>The bizarre characters of this show are one of the main highlights so here are some examples-</h3>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{r_m.chars[a].image}}" class="img-fluid rounded-start" alt="random character image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{r_m.chars[a].name}}</h5>
          <p class="card-text">Status: {{r_m.chars[a].status}}<br>Species: {{r_m.chars[a].species}}<br>Gender: {{r_m.chars[a].gender}}</p>
          <p class="card-text"><small class="text-muted">Origin: {{r_m.chars[a].origin}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{r_m.chars[b].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{r_m.chars[b].name}}</h5>
          <p class="card-text">Status: {{r_m.chars[b].status}}<br>Species: {{r_m.chars[b].species}}<br>Gender: {{r_m.chars[b].gender}}</p>
          <p class="card-text"><small class="text-muted">Origin: {{r_m.chars[b].origin}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{r_m.chars[c].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{r_m.chars[c].name}}</h5>
          <p class="card-text">Status: {{r_m.chars[c].status}}<br>Species: {{r_m.chars[c].species}}<br>Gender: {{r_m.chars[c].gender}}</p>
          <p class="card-text"><small class="text-muted">Origin: {{r_m.chars[c].origin}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{r_m.chars[d].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{r_m.chars[d].name}}</h5>
          <p class="card-text">Status: {{r_m.chars[d].status}}<br>Species: {{r_m.chars[d].species}}<br>Gender: {{r_m.chars[d].gender}}</p>
          <p class="card-text"><small class="text-muted">Origin: {{r_m.chars[d].origin}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{r_m.chars[e].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{r_m.chars[e].name}}</h5>
          <p class="card-text">Status: {{r_m.chars[e].status}}<br>Species: {{r_m.chars[e].species}}<br>Gender: {{r_m.chars[e].gender}}</p>
          <p class="card-text"><small class="text-muted">Origin: {{r_m.chars[e].origin}}</small></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock content%}